<div class="row">
  
  <div ng-repeat="drop in drops">
    <table class="table">
      <tr ng-repeat="item in orderParse(drop).items">
        
        <td class="col-md-5">
          # {{item.number}} {{item.name}}
        </td>
        <td class="col-md-2">
          {{item.qty}}
        </td>
        <td class="col-md-2">
          {{item.cost}}
        </td>
        <td class="col-md-3">
          {{item.cost * item.qty | currency}}
        </td>

      </tr>
        <tr>
          <td></td>
          <td></td>
          <td>Total:</td>
          <td>{{dropTotal(drop)}}</td>

        </tr>

    </table>
    
  </div>

</div>