<div class="row">
<div class="col-md-8">
    <div class="row" ng-repeat="item in menu">
        <div class="col-md-1" ng-click="addItem(item)">
            +ADD
        </div>
        <div class="col-md-3">
            #{{item.number}} {{item.sandwich}}
        </div>
        <div class="col-md-5">
            {{item.description}}
        </div>
        <div class="col-md-3">
            {{item.price}}
        </div>

    </div>
</div>
<div class="col-md-4">
    <table>
        <tr>
            <th>Item</th>
            <th>Qty</th>
            <th>Cost</th>
            <th>Total</th>
        </tr>
        <tr ng-repeat="item in invoice.items">
            <td>{{item.name}}</td>
            <td>{{item.qty}}</td>
            <td>{{item.cost}}</td>
            <td>{{item.qty * item.cost | currency}}</td>
            <td><div ng-click="removeItem($index)">[X]</div></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>Total:</td>
            <td>{{total() | currency}}</td>
        </tr>

    </table>
</div>
</div>
