<div class="row">
<div class="col-md-8">
    <table class="table table-hover">
        <tr ng-repeat="item in menu">
            <td>
                #{{item.number}} {{item.sandwich}}
            </td>
            <td>
                {{item.description}}
            </td>
            <td>
                {{item.price}}
            </td>
            <td ng-click="addItem(item)">
                +
            </td>

        </tr>
    </table>
</div>
<div class="col-md-4">
    <table class="table">
        <tr>
            <th>Item</th>
            <th>Qty</th>
            <th>Cost</th>
            <th>Total</th>
        </tr>
        <tr ng-repeat="item in invoice">
            <td>{{item.name}}</td>
            <td>{{item.qty}}</td>
            <td>{{item.cost}}</td>
            <td>{{item.qty * item.cost | currency}}</td>
            <td><div ng-click="removeItem(item)">[X]</div></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>Total:</td>
            <td>{{total() | currency}}</td>
        </tr>
    </table>
    <button class="btn btn-default" ng-click="checkout(invoice)">Checkout</button>
</div>
</div>

