<div class="row">
<div class="col-md-8">
    <table class="table table-hover">
        <tr ng-repeat="item in menu">
            <td>
                #{{item.number}} {{item.sandwich}}
            </td>
            <td>
                {{item.description}}
            </td>
            <td>
                {{item.price}}
            </td>
            <td ng-click="addItem(item)">
                +
            </td>

        </tr>
    </table>
</div>
<div class="col-md-4">
    <table class="table">
        <tr>
            <th>Item</th>
            <th>Qty</th>
            <th>Cost</th>
            <th>Total</th>
        </tr>
        <tr ng-repeat="item in invoice">
            <td>{{item.name}}</td>
            <td>{{item.qty}}</td>
            <td>{{item.cost}}</td>
            <td>{{item.qty * item.cost | currency}}</td>
            <td><div ng-click="removeItem(item)">[X]</div></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>Total:</td>
            <td>{{total() | currency}}</td>
        </tr>

    </table>
</div>
</div>



<div ng-controller="ModalDemoCtrl">
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">I'm a modal!</h3>
        </div>
        <div class="modal-body">
            <ul>
                <li ng-repeat="item in items">
                    <a ng-click="selected.item = item">{{ item }}</a>
                </li>
            </ul>
            Selected: <b>{{ selected.item }}</b>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>

    <button class="btn btn-default" ng-click="open()">Open me!</button>
    <button class="btn btn-default" ng-click="open('lg')">Large modal</button>
    <button class="btn btn-default" ng-click="open('sm')">Small modal</button>
    <div ng-show="selected">Selection from a modal: {{ selected }}</div>
</div>

